body{
    margin: auto;
    width: 70%;
}

nav{
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
}

nav ul{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}
nav ul li{
    padding-right: 10px;
}

/*nav ul li :hover{
    color: white;
    background-color: black;
}*/
nav ul li a{
    color: black;
    /*border: 1px white solid;
    border-style: none;
    border-radius: 15px;*/
    text-decoration: none;
    font-size: 1.3rem;
    padding: 7px;
}
nav ul li a:hover{
    text-decoration: underline;
}
